<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/src/styles/main.css">

  <title>Restaurant Apps Starter Project</title>
</head>

<body>

  <body>
    <div class="container">

      <!-- navbar -->
      <header>
        <nav class="navbar">
          <div class="navbar-list">
            <h1 class="logo">Clover Restaurant</h1>
            <ul class="nav-links">
              <li><a href="#home">Home</a></li>
              <li><a href="#favorite">Favorite</a></li>
              <li><a href="#about">About Us</a></li>
            </ul>
            <div class="navbar-menu">&#9776;</div>
          </div>
        </nav>
      </header>

      <!-- main banner -->
      <section class="bgimage" id="home">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
              <h2 class="hero_title">Enjoy Our Delicious Meal</h2>
              <p class="hero_desc">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                eos.</p>
              <p>Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
              <br>
              <a href="#" class="btn-book-table">Book a Table</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Favorite -->
      <div class="favorite" id="favorite">
        <h1>Favorite Menu</h1>
        <main>
          <section class="favorite-item">
            <img src="/src/public/images/heros/hero-image_1.jpg" alt="Picture 1">
            <h2>Favorite 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="button-design">
              <a href="#favorite">Book Now</a>
            </button>
          </section>
          <section class="favorite-item">
            <img src="/src/public/images/heros/hero-image_2.jpg" alt="Picture 1">
            <h2>Favorite 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="button-design">
              <a href="#favorite">Book Now</a>
            </button>
          </section>
          <section class="favorite-item">
            <img src="/src/public/images/heros/hero-image_3.jpg" alt="Picture 1">
            <h2>Favorite 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="button-design">
              <a href="#favorite">Book Now</a>
            </button>
          </section>
          <section class="favorite-item">
            <img src="/src/public/images/heros/hero-image_4.jpg" alt="Picture 1">
            <h2>Favorite 4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="button-design">
              <a href="#favorite">Book Now</a>
            </button>
          </section>
          <section class="favorite-item">
            <img src="/src/public/images/heros/hero-image_3.jpg" alt="Picture 1">
            <h2>Favorite 5</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="button-design">
              <a href="#favorite">Book Now</a>
            </button>
          </section>
          <section class="favorite-item">
            <img src="/src/public/images/heros/hero-image_2.jpg" alt="Picture 1">
            <h2>Favorite 6</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="button-design">
              <a href="#favorite">Book Now</a>
            </button>
          </section>
        </main>
      </div>

      <!-- About Us -->
      <div class="contact" id="about">
        <h1>About Us</h1>
        <section class="social-links">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/your-profile-link" target="_blank">
                <img src="/src/public/images/heros/linkid.png" alt="LinkedIn">
                LinkedIn
              </a>
            </li>
            <li>
              <a href="https://github.com/your-username" target="_blank">
                <img src="/src/public/images/heros/github.png" alt="GitHub">
                GitHub
              </a>
            </li>
            <li>
              <a href="https://Facebook/your-username" target="_blank">
                <img src="/src/public/images/heros/facebook.png" alt="Facebook">
                Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/in/your-profile-link" target="_blank">
                <img src="/src/public/images/heros/instagram2.png" alt="Instagram">
                Instagram
              </a>
            </li>
          </ul>
        </section>

        <main class="contact">
          <section class="contact-info">
            <h2>Contact Me</h2>
            <form class="input">
              <input type="text" placeholder="Name">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="Subject">
              <input type="details" placeholder="Project Details">
              <button class="button-design">
                <a href="#contact">Submit</a>
              </button>
            </form>
          </section>
          <section class="map">
            <!-- Gantilah dengan kode peta Anda, misalnya menggunakan Google Maps -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.6663474944285!2d106.82458402389523!3d-6.175403010511094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5d2db8c5617%3A0x4e446b7ac891d847!2sMonas%2C%20Gambir%2C%20Kecamatan%20Gambir%2C%20Kota%20Jakarta%20Pusat%2C%20Daerah%20Khusus%20Ibukota%20Jakarta!5e0!3m2!1sid!2sid!4v1698122056039!5m2!1sid!2sid"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </section>
        </main>
      </div>
      <!-- Footer -->
      <footer id="footer">

        <div class="footer-copyright">
          &copy; Copyright 2023 - Hunger Apps. Hak Cipta Dilindungi.
        </div>
      </footer>
    </div>
  </body>
</body>
<script src="/webpack.common.js"></script>
<script src="/webpack.dev.js"></script>
<script src="/webpack.prod.js"></script>
<script src="/karma.conf.js"></script>

</html>